/* CSS Document */

.deck {
    position : absolute;
    width : 73px;
    height : 102px;
    background : url('../images/spacer.gif');
    background-repeat : no-repeat;
}

.card {
    position : absolute;
    width : 73px;
    height : 102px;
}

.board {
    background : url('../images/woodbg.gif');
}