/* CSS Document */

.deck {
    position : absolute;
    width : 73px;
    height : 102px;
    background : url('../images/spacer.gif');
    background-repeat : no-repeat;
}

.card {
    position : absolute;
    width : 73px;
    height : 102px;
}

.board {
	position:relative;
	top:5px;
	left:5px;
}

body {
    background : url('../images/woodbg.gif');
}